arrow==1.3.0
asgiref==3.7.2
attrs==23.2.0
Automat==22.10.0
boto==2.49.0
botocore==1.34.44
build==1.0.3
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
constantly==23.10.4
cryptography==39.0.0
cssselect==1.2.0
dj-database-url==1.2.0
Django==4.1.5
django-social-share==2.3.0
djangorestframework==3.14.0
enum34==1.1.10
filelock==3.9.0
gunicorn==20.1.0
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
ipaddress==1.0.23
itemadapter==0.7.0
itemloaders==1.0.6
jmespath==1.0.1
lxml==4.9.2
packaging==23.0
parsel==1.7.0
pep517==0.13.0
pip-tools==6.12.1
Protego==0.2.1
psycopg2-binary==2.9.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyDispatcher==2.0.6
pyOpenSSL==23.0.0
python-dateutil==2.8.2
pytz==2022.7
queuelib==1.6.2
raven==6.10.0
requests==2.28.1
requests-file==1.5.1
Scrapy==2.7.1
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.3
structlog==22.3.0
tldextract==3.4.0
tomli==2.0.1
Twisted==22.10.0
typing_extensions==4.4.0
tzdata==2022.7
urllib3==1.26.13
w3lib==2.1.1
whitenoise==6.3.0
wincertstore==0.2
zope.interface==5.5.2
