arrow==1.4.0
asgiref==3.12.1
attrs==26.1.0
Automat==25.4.16
boto==2.49.0
botocore==1.43.56
build==1.5.1
cffi==2.1.0
charset-normalizer==3.4.9
click==8.4.2
colorama==0.4.6
constantly==23.10.4
cryptography==49.0.0
cssselect==1.5.0
dj-database-url==3.1.2
Django==6.0.7
django-social-share==2.3.0
djangorestframework==3.17.1
enum34==1.1.10
filelock==3.32.0
gunicorn==26.0.0
hyperlink==21.0.0
idna==3.18
incremental==24.11.0
ipaddress==1.0.23
itemadapter==0.13.1
itemloaders==1.4.0
jmespath==1.1.0
lxml==6.1.1
packaging==26.2
parsel==1.11.0
pep517==0.13.1
pip-tools==7.6.0
Protego==0.6.2
psycopg2-binary==2.9.12
pyasn1==0.6.4
pyasn1-modules==0.4.2
pycparser==3.0
PyDispatcher==2.0.7
pyOpenSSL==26.3.0
python-dateutil==2.9.0.post0
pytz==2026.3.post1
queuelib==1.9.0
raven==6.10.0
requests==2.34.2
requests-file==3.0.1
Scrapy==2.17.0
service-identity==26.1.0
six==1.16.0
sqlparse==0.4.3
structlog==22.3.0
tldextract==3.4.0
tomli==2.0.1
Twisted==22.10.0
typing_extensions==4.4.0
tzdata==2022.7
urllib3==1.26.13
w3lib==2.1.1
whitenoise==6.3.0
wincertstore==0.2
zope.interface==5.5.2
