<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8">
      <meta id="viewport" name="viewport" content ="width=device-width" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112028601-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-112028601-1');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ adsense_code }}"
     crossorigin="anonymous"></script>
	  <title>Seasonally</title>
	    {% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/seasonally.css' %}" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
		<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {%  block head %}
        {%  endblock head %}
	</head>
    {% block content %}
    {% endblock content %}
</html>
