{% extends "suggest/base.html" %}
{% load static %}
{% block content %}
	<body>
	  <div class="grid">
	    <div class="row">
	      <div class="col-4 months" id="calendar">
	          <p>
		          <span class="{% if abbr_month == "jan" %} curr-month{% endif %}">Jan</span>
		          <span class="{% if abbr_month == "feb" %} curr-month{% endif %}">Feb</span>
		          <span class="{% if abbr_month == "mar" %} curr-month{% endif %}">Mar</span>
	          </p>
	          <p>
		          <span class="{% if abbr_month == "apr" %} curr-month{% endif %}">Apr</span>
		          <span class="{% if abbr_month == "may" %} curr-month{% endif %}">May</span>
		          <span class="{% if abbr_month == "jun" %} curr-month{% endif %}">Jun</span>
	          </p>
	          <p>
		          <span class="{% if abbr_month == "jul" %} curr-month{% endif %}">Jul</span>
		          <span class="{% if abbr_month == "aug" %} curr-month{% endif %}">Aug</span>
		          <span class="{% if abbr_month == "sep" %} curr-month{% endif %}">Sep</span>
	          </p>
	          <p>
		          <span class="{% if abbr_month == "oct" %} curr-month{% endif %}">Oct</span>
		          <span class="{% if abbr_month == "nov" %} curr-month{% endif %}">Nov</span>
		          <span class="{% if abbr_month == "dec" %} curr-month{% endif %}">Dec</span>
	          </p>
	      </div>
	      <div class="col-2"></div>
	      <div class="col-6" id="header">
              <a href="/">
                  <h1>Seasonally</h1>
                  <h2>Recipes for right now</h2>
              </a>
	      </div>
	    </div>
	    <div class="row">
	      <div class="col-12"><img src="{% static 'images/lamb.jpg' %}" width=100%></div>
	    </div>
	    <div class="row">
	      <div class="col-12">
              <h3 id="refresh"><a href="/#refresh" onclick="location.reload()">Refresh for three more</a></h3>
	      </div>
	    </div>
	    <div class="row">
	      {% for recipe in recipes %}
		      <div class="col-4 recipe">
		        <a href="/recipe/{{ recipe.slug }}/">
                    <div class="thumb-container">
    		            <img class="thumb" src="http://seasonally-assets.s3.us-east-2.amazonaws.com{{ recipe.image_url }}.jpg">
                    </div>
		        </a>
		        <a href="/recipe/{{ recipe.slug }}/">
		            <h4>{{ recipe.name }}</h4>
		        </a>
		        <p class="teaser">"{{ recipe.teaser }}"</p>
		      </div>
	      {% endfor %}
	    </div>
	    <div class="row">
			<div class="col-12">
				<div class="social">
				  	<span class="social-icon">
			            <a href="https://twitter.com/inseasonrecipes">
			            <img src="{% static 'images/social-icons/twitter.png' %}" height=50px></a>
					</span>
				</div>
			</div>
	    </div>
		<div class="row footer">
			<div class="col-12">
				<p>Developed by <a href="http://youngbullindustries.com/">YoungBullIndustries</a> 2017 | Social icons <a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a> by <a href="https://www.alfredocreates.com/">Alfredo</a>
			</div>
		</div>
	  </div>
	</body>
{% endblock %}
