{% extends "suggest/base.html" %}
{% load static %}
{% load social_share %}
{% block content %}
    <body>
    <div class="grid">
        <div class="row">
            <div class="col-4 months" id="calendar">
                <p>
                    <span class="{% if abbr_month == "jan" %} curr-month{% endif %}">Jan</span>
                    <span class="{% if abbr_month == "feb" %} curr-month{% endif %}">Feb</span>
                    <span class="{% if abbr_month == "mar" %} curr-month{% endif %}">Mar</span>
                </p>
                <p>
                    <span class="{% if abbr_month == "apr" %} curr-month{% endif %}">Apr</span>
                    <span class="{% if abbr_month == "may" %} curr-month{% endif %}">May</span>
                    <span class="{% if abbr_month == "jun" %} curr-month{% endif %}">Jun</span>
                </p>
                <p>
                    <span class="{% if abbr_month == "jul" %} curr-month{% endif %}">Jul</span>
                    <span class="{% if abbr_month == "aug" %} curr-month{% endif %}">Aug</span>
                    <span class="{% if abbr_month == "sep" %} curr-month{% endif %}">Sep</span>
                </p>
                <p>
                    <span class="{% if abbr_month == "oct" %} curr-month{% endif %}">Oct</span>
                    <span class="{% if abbr_month == "nov" %} curr-month{% endif %}">Nov</span>
                    <span class="{% if abbr_month == "dec" %} curr-month{% endif %}">Dec</span>
                </p>
            </div>
            <div class="col-2"></div>
            <div class="col-6" id="header">
                <a href="/">
                    <h1>Seasonally</h1>
                    <h2>Recipes for right now</h2>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-4 recipe">
                <br>
                <a href="{{ recipe.url }}">
                    <div class="thumb-container">
                        <img class="thumb"
                             src="http://seasonally-assets.s3.us-east-2.amazonaws.com{{ recipe.image_url }}.jpg">
                    </div>
                </a>
            </div>
            <div class="col-4 ingredients">
                <a href="{{ recipe.url }}">
                    <h3 class="centred">{{ recipe.name }}</h3>
                </a>
                <p class="teaser">"{{ recipe.teaser }}"</p>
                <a href="{{ recipe.url }}">
                    <h3 class="centred">ingredients</h3>
                </a>
                <br>
                {% for ingredient in recipe.get_ingredients %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
                <h3 class="centred">
                    <a href="{{ recipe.url }}">full recipe</a>&nbsp;&nbsp;|&nbsp;
                    <a href="/#refresh">three more</a> |&nbsp;&nbsp;
                </h3>
            </div>
            <div class="col-4 recipe">
                <br>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- seasonally-responsive -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client={{ adsense_code }}
                     data-ad-slot="4103706908"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3 class="centred">
                    <a href="http://www.facebook.com/sharer/sharer.php?u=http://inseasonrecipes.co.uk{{ request.get_full_path|urlencode }}">share
                        on FB</a>&nbsp;|&nbsp;
                    <a href="http://twitter.com/share?text={{ recipe.name }}&url=http://inseasonrecipes.co.uk{{ request.get_full_path|urlencode }}">Tweet</a>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="social">
				  	<span class="social-icon">
			            <a href="https://twitter.com/inseasonrecipes">
			            <img src="{% static 'images/social-icons/twitter.png' %}" height=50px></a>
					</span>
                </div>
            </div>
        </div>
        <div class="row footer">
            <div class="col-12">
                <p>Developed by <a href="http://youngbullindustries.com/">YoungBullIndustries</a> 2017 |
                    Social icons <a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>
                    by <a href="https://www.alfredocreates.com/">Alfredo</a>
            </div>
        </div>
    </div>

    </body>
{% endblock %}
